<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cluster Result</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container result-box">
        <h2>Result</h2>
        <p><strong>Income:</strong> {{ income }}</p>
        <p><strong>Spending Score:</strong> {{ spending }}</p>
        <p><strong>Cluster:</strong> {{ cluster }}</p>
        <p><strong>Do this </strong> {{ meaning }}</p>
        <a href="/">Go Back</a>
    </div>
</body>
</html>
